body{

    font-family: sans-serif;
    margin: 0;
}


.top-1{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    
}

.gamer{
    position: relative;
    bottom: 22px;
    
}

.icon{
    width: 70px;
}

.top-2{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 10px;
    
}

.text-1{
    text-decoration: None;
    color: black;
    font-size: 12px;
}

.button-1{
    
    background-color: rgb(221, 215, 215);
    border: none;
    border-radius: 5px;
}

.container-1{
    display: flex;
    column-gap: 20px;
}

.top{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

.button-1{
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}

.text-2{
    line-height: 25px;
    position: relative;
    right: 30px;
}
.GOAT{
    font-size: 62px;
    color: #B852D7;
}

.t{
    font-size: 14px;
}

.button-cont{
    position: relative;
    right: 40px;
}

.play{
    position: relative;
    top: 38px;
    right: 35px;
}

.download{
    position: relative;
    top: 65px;
    right: 60px;
}

.people{
    position: relative;
    top: 95px;
    right: 85px;
}


.sing-in{
    color: aliceblue;
    background-color: rgb(232, 50, 141);
    border: None;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.Rouge{
    color: aliceblue;
    background-color: #4EC5F7;
    border: None;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-cont{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.left{
    position: relative;
    top: 100px;
}
.sec-2{
    display: flex;
    justify-content: space-around;
    background-color: #FCF5FB;
    margin-bottom: 50px;
}

.group-image{
    width: 500px;
}

.group-2{
    width: 700px;
}

.sec-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
    background-color: #FCF5FB;
    border-bottom: 30px;
}

.right{
    text-align: right;
}

.gamer{
    color: #B852D7;
    font-size: 35px;
}

.mid-par{
    font-size: smaller;
    color: rgb(132, 131, 131);
}
.know-more{
    border: None;
    background-color: rgb(243, 79, 161);
    padding: 15px 25px 15px 25px;
    color: aliceblue;
    border-radius: 20px;
}

.mid{
    text-align: center;
}

.sec-4-img{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    line-height: 10px;
    margin-bottom: 50px;
    
}

.sec-4-img .i1 img:hover {
    transform: scale(1.1);
    border: 3px solid;
    border-color: #B852D7;
    border-radius: 15px;
    
}

.reduce{
    width: 250px;
}

.sec-5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 200px;
    
}

.red2{
    width: 250px;
    height: 250px;
    position: relative;
    top: 300px;
    left: 180px;
}

.red{
    width: 450px;
}

.img-container{
    display: flex;
    flex-direction: row-reverse;
    
}

.pl{
    text-align: right;
}

.plt{
    color: #B852D7;
    font-size: 40px;
}

.size{
    font-size: 40px;
    
}

.plst{
    color: rgb(161, 159, 159);
    font-size: 15px;
}

.final{
    display: flex;
    gap: 15px;
    align-items: center;
    
}


.final:hover {
    border: 2px solid;
    border-color: #B852D7;
    border-radius: 30px;
    padding: 5px;
    color: #B852D7;
}

.dek-only{
    display: flex;
    gap: 15px;
    align-items: center;
}

.dek-only:hover{
    border: 2px solid;
    border-color: #B852D7;
    border-radius: 30px;
    padding: 5px;
    color: #B852D7;
}

.sec-6{
    margin-bottom: 100px;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   
}

.change{
    width: 40px;
    height: 40px;
}

.dekstop-only{
    width: 40px;
    height: 40px;
}


.second-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   
}

.sec-6{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.End{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.gamer-2{
    color: #B852D7;
}

.white{
    color: white;
}

.end-text{
    display: flex;
    justify-content: center;
    gap: 40px;

}

.flex{
    display: flex;
    align-items: center;
}



@media (min-width: 412px) and (max-width: 767px) {
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 20px;
        position: relative;
        bottom: 50px;
    }

    .top-2{
        display: flex;
        flex-direction: column;
    }

    .sec-2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 35px;
    }
    .group-image{
        width: 350px;
    }

    .text-2{
       position: relative;
       left: 25px;
    }

    .text-3{
        text-align: center;
        position: relative;
        bottom: 40px;
        left: 10px;

    }

    .red{
        width: 300px;
        position: relative;
        right: 70px;
    }

    .red2{
        position: relative;
        left: 90px;
        top:200px
    }

    .group-2{
        width: 450px;
    }

    .left{
        position: relative;
        top: 30px;
    }

    .sing-in{
        position: relative;
        bottom: 30px;
        left: 50px;
    }

    .Rouge{
        position: relative;
        bottom: 30px;
        left: 50px;
    }


    .sec-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right{
        text-align: center;
    }

    .t0{
        text-align: left;
        position: relative;
        left: 80px;
    }

    .sec-4-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 20px;
        line-height: 10px;
    }

    .sec-5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dekstop-only{
        display: none;
    }

    .first-row{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
       
    }

    .second-row{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .dek-only{
        display: none;
    }

    .change{
        width: 20px;
        height: 20px;
    }
    
    .dekstop-only{
        width: 20px;
        height: 20px;
    }
    
    .End{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin-left: 0;
    }
    
}